---
import Layout from "../layouts/Layout.astro"
---


<Layout title="About the project">
  <h2 class="flex 
            mb-4 
            text-3xl
            tracking-tight
            font-extrabold
            text-white
            justify-center">
    About this project
  </h2>
  <p class="font-light
            text-gray-500
            sm:text-xl 
            dark:text-gray-400">
    The SpaceX fake launches project is a demo for Atro course
  </p>
</Layout>